<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hello, I'm Cassidy, a web developer out to master my craft. 
				      This is my personal website." />
    <meta property="og:description" content="Hello, I'm Cassidy, a web developer out to master my craft. 
				      This is my personal website." />
    <meta name="keywords" content="web, development, design, applications, apps, Cassidy, Brooke, developer, programmer,
     code, Burlington, BTV, Vermont, VT, JS, JavaScript, React, Node, node.js, Python, Django, Ruby, Rails, HTML, CSS,
     CSS Grid, grid, CSS3, HTML5, art, music, coding, graphic, media">
    <meta name="author" content="Cassidy Brooke">
    <meta property="og:image" content="/assets/images/volcano_seafoam.jpg" />
    <title>Cassidy Brooke - Web Developer</title>
    <meta property="og:title" content="Cassidy Brooke - Web Developer" />
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Vollkorn|Average+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/base.css" />
	<script>
		document.documentElement.className = "js";
		var supportsCssVars = function() { var e, t = document.createElement("style"); return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e };
		supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");
	</script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');

    </script>
</head>
