<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Cassidy Brooke">
    <link rel="shortcut icon" href="">
    <title>01010101010101010101010101010101010101010101010101 Cassidy Brooke - a web developer based out of Burlington, VT.</title>
    <link rel="stylesheet" href="https://use.typekit.net/bsg5ydy.css">
    <link rel="stylesheet" href="/assets/css/main.scss">
	<link rel="stylesheet" type="text/css" href="/assets/css/base.css" />
	<script>
		document.documentElement.className = "js";
		var supportsCssVars = function() { var e, t = document.createElement("style"); return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e };
		supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");
	</script>
</head>
