article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	background: #fff;
}

/* persian green #00a693; */

body {
	--color-text: #000;
	--color-bg: #fff;
	--color-link: #e34234;
	--color-link-hover: #000;
	--color-info: #000;
	--color-grid: #f3f3f3;
	--color-slide-alt: #fff;
	--color-slide-text-bg: #e34234;
	font-family: 'Average Sans', sans-serif;
	/* font-family: Didot, "Didot LT STD", "Bodoni MT", "ltc-bodoni-175", 
	"Hoefler Text", Garamond, "Times New Roman", serif; */
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-top: 5rem;
}

h1, h2, h3, h4, h5 {
	font-family: 'Vollkorn', serif;
}

/* Page Loader */
.js .loader {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
	pointer-events: none;
}

.js .loader__inner {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 100px;
	margin: -50px 0 0 -25px;
	pointer-events: none;
	background: url(/assets/images/favicon.png) no-repeat 50% 50%;
	background-size: 100%;
	opacity: 0.2;
	animation: loaderAnim 0.7s linear infinite alternate forwards;
	transform-origin: 0% 100%;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.message {
	position: relative;
	z-index: 100;
	display: none;
	padding: 1em;
	text-align: center;
	color: var(--color-bg);
	background: var(--color-text);
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

.left_arrow {
	width: 30px !important;
}

.landing-page {
	position: relative;
	width: 100%;
}

ul li {
	list-style: square;
}










.gallery, .writing-list, .credentials {
    width: 100%;
    max-width: 100ch;
    margin: 0 auto;
    font-family: 'Average Sans', serif;
    padding: 1rem 0 3rem 0;
    position: relative;

}

.gallery h1, .writing-list h1, .post h1, .credentials h1 {
    margin: 0 0 1rem -3rem;
    font-size: 4em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    grid-gap: 7px;
    background-color: #fff;
    margin: 0 0 4em 0;
    padding: 0;
}

.grid li {
    list-style: none;
    position: relative;
    overflow: hidden;
    margin-bottom: 1em;
}

.grid li img {
	max-height: 300px;
}

@supports(display:grid) {
	.grid li {
		margin-bottom: 0;
	}
	.grid li img, .grid li video {
		height: 100%;
		max-height: 100%;
	}
}

.grid li img, .grid li video {
    width: 100%;
    display: block;
    object-fit: cover;
    background: #f4f4f4;
    animation: fadein 2s;
}

.grid li img:hover {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	transition-duration: 1.5s;
	transition-timing-function: ease;
}

.grid li span {
	position: absolute;
	bottom: 0;
	background: #e34234;
	color: #fff;
	padding: 8px;
	width: 100%;
}






.warning {
    color: #e34234;
    font-size: 200%; }

@supports (display: grid) {
    .warning {
        display: none; } }





/* WRITINGS */

.writing-list span {
    right: 0;
    font-size: 80%;
    position: absolute;
    padding: 0 1rem;
}

.writing-list a {
    font-size: 110%;
}

.writing-list ul {
    padding: 0.5rem;
    margin: 0;
}

.writing-list li {
    font-size: 110%;
    border-bottom: 1px solid #e6e6e6;
    padding: 1rem 0;
    list-style: none;
}


.post {
	width: 100%;
	max-width: 100ch;
	margin: 0 auto;
	font-family: 'Average Sans', serif;
	border-left: 3px solid #e34234;
	padding: 3rem 1rem 3rem 3.8rem;
}

.post h2 {
	-webkit-writing-mode: sideways-lr;
	-ms-writing-mode: sideways-lr;
	writing-mode: sideways-lr;
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	float: left;
	margin: 1.5rem 0 0 -3.8rem;
	font-size: 1.4em;
	background: #e34234;
    color: #fff;
	padding: 3px;
	line-height: 1;
	font-weight: normal;
    font-family: 'Vollkorn', serif;
}

.post p {
	margin: 0 0 1em;
	font-size: 110%;
}

.post h2 + p {
	margin-top: 2.5rem;
	padding-top: 1.4rem;
    border-top: 1px solid #e6e6e6;
}

.post a {
	color: #e34234;
}

.post img, .credentials img {
	width: 100%;
}



.credentials-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7px;
    background-color: #fff;
	animation: fadein 2s;
}

.credentials-grid section {
    padding: 1em;
}

.credentials-grid article {
    border-top: 1px solid #e6e6e6;
    margin: 0 0 1rem 0;
    padding: 1.5em 0;
    animation: fadein 2s;
}

.credentials h2 {
    color: #fff;
    background-color: #e34234;
    font-family: 'Vollkorn', serif;
	line-height: 1;
	overflow: hidden;
	font-weight: normal;
	padding: 0 0.5rem;
	white-space: nowrap;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.credentials h3 {
    margin: 1em 0 0 0;
}

.credentials h4 {
    margin: 0;
}

.cred-date, .cred-location {
    font-size: 80%;
    display: block;
    text-align: right;
}


.gallery h1, .writing-list h1, .credentials h1 {
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;

}

@media (min-width: 601px) and (max-width: 858px) {
	main {
		margin: 1em;
	}
}


@media (max-width: 1112px) {
    .gallery h1, .writing-list h1, .credentials h1 {
        margin: 0 0 1rem 0 !important;
        font-size: 3em !important;
    }
}

@media (max-width: 768px) {
    .codrops-links {
        justify-content: left;
    }

    .writing-list, .credentials {
        padding: 3rem 1rem 1rem 1rem !important;
    }

    .writing-list span {
        position: initial;
        right: auto;
        padding: 0;
    }

    .content, .credentials {
        padding: 1rem;
    }

    .gallery {
        padding: 1rem 1rem 3rem 1rem;
    }

    .post h1 {
        font-size: 300%;
    }

    .credentials-grid {
        grid-template-columns: 1fr;
    }

    .credentials-col section {
        padding: 0;
    }

    .github {
        margin: 1em 0.5em !important;
    }

	.secret_animate {
		margin-left: -10px;
		top: -120px;
		position: absolute;
	}

    .icon111 {
        margin: 10px 5px !important;
    }
}

.icon111 {
    width: 25px;
    margin: 0 15px;
}

.secret_animate {
	animation: secretanimate 2s;
	animation-iteration-count: infinite;
	animation-delay: 2s;
}

.return {
    text-align: center;
    padding: 5rem;
    color: #fff;
}

.return a {
    color: #fff;
}

.return a:hover {
    color: #000;
}

.return img {
    width: 75px;
}

.page-404 {
    background: #e34234;
	/* background: linear-gradient(#e34234, #e34234, #fff, #fff); */
}

.grid-404 {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(10, 100px);
}

.grid-404 b {
    -webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1 backwards;
    animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1 backwards;
}

.grid-404 b:nth-child(even) {
    background-color: #57585c;
    animation-duration: 1s;
}

.grid-404 b:nth-child(odd) {
    background-color: #fff;
}

.grid-404 b:nth-of-type(1) {
    grid-row: 1 / span 3;
    grid-column: 1;
}

.grid-404 b:nth-of-type(2) {
    grid-row: 2;
    grid-column: 4;
}

.grid-404 b:nth-of-type(3) {
    grid-row: 3;
    grid-column: 10;
}

.grid-404 b:nth-of-type(4) {
    grid-row: 1 / span 2;
    grid-column: 13;
}

.grid-404 b:nth-of-type(5) {
    grid-row: 6;
    grid-column: 2;
}

.grid-404 b:nth-of-type(6) {
    grid-row: 6 / span 6;
    grid-column: 19;
}

.grid-404 b:nth-of-type(7) {
    grid-row: 8 / span 2;
    grid-column: 4;
}

.grid-404 b:nth-of-type(8) {
    grid-row: 8;
    grid-column: 6;
}

.grid-404 b:nth-of-type(9) {
    grid-row: 5;
    grid-column: 15;
}

.grid-404 b:nth-of-type(10) {
    grid-row: 10;
    grid-column: 10;
}

.grid-404 b:nth-of-type(11) {
    grid-row: 5 / span 3;
    grid-column: 20;
}

.grid-404 b:nth-of-type(12) {
    grid-row: 3;
    grid-column: 20;
}

.grid-404 b:nth-of-type(13) {
    grid-row: 7;
    grid-column: 2;
}

.grid-404 b:nth-of-type(14) {
    grid-row: 9;
    grid-column: 9;
}

.grid-404 b:nth-of-type(15) {
    grid-row: 9;
    grid-column: 7;
}

.grid-404 b:nth-of-type(16) {
    grid-row: 6;
    grid-column: 4;
}

.grid-404 b:nth-of-type(17) {
    grid-row: 5;
    grid-column: 10;
}

.grid-404 b:nth-of-type(18) {
    grid-row: 4;
    grid-column: 16;
}

.grid-404 b:nth-of-type(19) {
    grid-row: 4 / span 5;
    grid-column: 8;
}

.grid-404 b:nth-of-type(20) {
    grid-row: 10;
    grid-column: 16;
}

.grid-404 b:nth-of-type(21) {
    grid-row: 8 / span 2;
    grid-column: 12;
}

.grid-404 b:nth-of-type(22) {
    grid-row: 9;
    grid-column: 9;
}

.grid-404 b:nth-of-type(23) {
    grid-row: 7;
    grid-column: 3;
}

.grid-404 b:nth-of-type(24) {
    grid-row: 7;
    grid-column: 10;
}

.grid-404 b:nth-of-type(25) {
    grid-row: 10;
    grid-column: 8;
}

.grid-404 b:nth-of-type(26) {
    grid-row: 7;
    grid-column: 5;
}

.grid-404 b:nth-of-type(27) {
    grid-row: 6;
    grid-column: 10;
}

.grid-404 b:nth-of-type(28) {
    grid-row: 8;
    grid-column: 9;
}

.grid-404 b:nth-of-type(29) {
    grid-row: 1 / span 2;
    grid-column: 20;
}

.grid-404 b:nth-of-type(30) {
    grid-row: 8;
    grid-column: 17;
}

.grid-404 b:nth-of-type(31) {
    grid-row: 10;
    grid-column: 20;
}

.grid-404 b:nth-of-type(32) {
    grid-row: 9;
    grid-column: 15;
}

.grid-404 b:nth-of-type(33) {
    grid-row: 1;
    grid-column: 4;
}

@keyframes secretanimate {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


@-webkit-keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}



/* Header */
.codrops-header {
	position: relative;
	z-index: 100;
	grid-area: header;
	padding: 0 0.5rem;
}

.codrops-header__title {
	font-size: 2.5em;
	line-height: 1;
	font-weight: normal;
	margin: 0 0 0.25rem;
}

.info {
	display: block;
	max-width: 260px;
	color: var(--color-info);
}

.github {
	display: block;
	grid-area: github;
	margin: 0 0.25rem;
	justify-self: start;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: flex;
	justify-content: left;
	margin: 2rem auto 0 0.25rem;
	text-align: center;
	white-space: nowrap;
	font-size: 0.85rem;
}

.codrops-icon {
	display: inline-block;
	padding: 0.25em;
}

.slideshow {
	position: relative;
	width: 100%;
	margin-top: 1rem;
}

.slide {
	width: 100%;
	top: 0;
	position: absolute;
	pointer-events: none;
}

.slide--current {
	position: relative;
}

.js .slide__img-wrap,
.js .slide__title,
.js .slide__subtitle,
.js .slide__quote,
.js .slide__side,
.js .slide__number,
.js .slide__explore {
	opacity: 0;
	pointer-events: none;
}

.slide--current.slide--visible .slide__img-wrap,
.slide--current.slide--visible .slide__title,
.slide--current.slide--visible .slide__subtitle,
.slide--current.slide--visible .slide__quote,
.slide--current.slide--visible .slide__number,
.slide--current.slide--visible .slide__explore {
	opacity: 1;
}

.slide--current.slide--visible .slide__explore {
	pointer-events: auto;
}

.slide__img-wrap {
	width: 100%;
	height: 50vh;
	overflow: hidden;
	position: relative;
}

.slide--current .slide__img-wrap {
	cursor: default;
}

.slide--left,
.slide--right {
	z-index: 100;
}

.slide--left .slide__img-wrap,
.slide--right .slide__img-wrap {
	opacity: 1;
	width: 25vw;
	pointer-events: auto;
	cursor: pointer;
}

.slide--right .slide__img-wrap {
	margin-left: auto;
}

.slide__img {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	background-position: 50% 50%;
	position: absolute;
	backface-visibility: hidden;
	pointer-events: none;
}

.slide--current .slide__img::after {
	content: '';
	background: rgba(57, 71, 72, 0.27);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.slide__img-reveal {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
	transform: translate3d(0,100%,0);
	pointer-events: none;
}

.slide__title-wrap,
.slide__number {
	display: block;
	text-align: center;
	pointer-events: none;
}

.slide__number {
	padding: 1rem 0;
}

.slide__explore {
	margin: 2rem 0 0 0;
	cursor: pointer;
	background: var(--color-slide-text-bg);
	color: #fff;
	padding: 0.15rem 0.25rem;
}

.slide__explore:hover {
	color: #fff;
}

@media screen and (min-width: 53em) {
	body {
		padding: 0;
	}
	.content {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		min-height: 100vh;
		text-align: left;
	}
	.content--fixed {
		position: fixed;
		z-index: 10000;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		min-height: 0;
		height: 100vh;
		padding: 1rem 0;
		pointer-events: none;
		align-items: start;
		grid-template-columns: 10% 80% 10%;
		grid-template-rows: 100%;
		grid-template-areas: 'links header github';
	}
	.content--fixed a {
		pointer-events: auto;
	}
	.info {
		max-width: 16rem;
		margin: 0;
	}
	.codrops-links {
		margin-top: 0;
	}
	.slideshow {
		overflow: hidden;
		margin: 0;
		height: 100vh;
		display: grid;
		grid-template-columns: 10% 50% 10%;
		grid-column-gap: 15%;
		grid-template-rows: 100%;
		grid-template-areas: 'preview-left current-slide preview-right';
	}
	.slide {
		color: var(--color-slide-alt);
	}
	.slide::after {
		/* content: '+'; */
		position: absolute;
		left: 0;
		color: #000;
		font-size: 1.75rem;
		bottom: 70vh;
		margin: 0.5rem;
	}
	.slide--current::after {
		display: none;
	}
	.slide--right::after {
		bottom: 80vh;
		left: auto;
		right: 0;
	}
	.slide__img-wrap {
		height: 100%;
		position: absolute;
	}
	.slide__img {
		background-position: 50% 0%;
	}
	.slide--visible .slide__img-wrap,
	.slide--visible .slide__title,
	.slide--current.slide--visible .slide__side,
	.slide--current.slide--visible .slide__quote {
		opacity: 1;
	}
	.slide--visible .slide__img-wrap {
		pointer-events: auto;
	}
	.slide--current,
	.slide--left,
	.slide--right {
		position: relative;
		pointer-events: auto;
	}
	.slide--current {
		grid-area: current-slide;
	}
	.slide--left .slide__img-wrap,
	.slide--right .slide__img-wrap {
		height: 50%;
		width: 100%;
		top: 20%;
		position: relative;
	}
	.slide--left .slide__img-wrap {
		top: 30%;
	}
	.slide--left {
		border-right: 1px solid var(--color-grid);
		grid-area: preview-left;
	}
	.slide--right {
		border-left: 1px solid var(--color-grid);
		grid-area: preview-right;
	}
	.slide__side {
		position: absolute;
		right: 0.25rem;
		white-space: nowrap;
		-webkit-writing-mode: vertical-rl;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
	}
	.slide__category {
		font-size: 2rem;
		margin: 0;
		font-weight: normal;
		line-height: 1;
		padding: 1.5rem 0;
		display: inline-block;
	}
	.slide__category::before {
		/* content: '\2022'; */
		font-size: 2.5rem;
		padding: 0 0 1rem;
	}
	.slide__number {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 0;
		margin: 0.5rem 1rem;
	}
	.slide__number::before {
		/* content: '#'; */
	}
	.slide--current .slide__title-wrap {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		max-width: 400px;
		position: absolute;
		top: 35%;
		right: 50%;
	}
	.slide--current .slide__title,
	.slide__subtitle {
		font-size: 5vw;
		margin: 0 0 0.2rem;
		padding: 0 0.5rem;
		font-weight: normal;
		line-height: 1;
		white-space: nowrap;
		position: relative;
		overflow: hidden;
	}
	.slide--current .slide__title {
		padding: 0.35rem 0.25rem 0.15rem;
	}
	.slide--current .slide__title .slide__box,
	.slide__subtitle .slide__box {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: var(--color-slide-text-bg);
	}
	.slide__title-inner,
	.slide__subtitle-inner {
		position: relative;
		display: inline-block;
	}
	.slide--left .slide__title,
	.slide--right .slide__title {
		-webkit-writing-mode: vertical-rl;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		position: absolute;
		font-size: 1rem;
		right: 0;
		top: 80vh;
		text-align: right;
		color: var(--color-text);
		margin: 1rem 0 0;
		font-weight: normal;
	}
	.slide--right .slide__title {
		left: 0;
		right: auto;
		top: 70vh;
	}
	.slide__subtitle {
		font-size: 2.5vw;
		line-height: 1.5;
	}
	.slide__quote {
		max-width: 25vw;
		text-align: right;
	}
}
