<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

  <main class="main">
    {{ content }}
  </main>
    
    
    
   <script type="text/javascript">
    (function titleScroller(text) {
        document.title = text;
        setTimeout(function () {
            titleScroller(text.substr(1) + text.substr(0, 1));
        }, 500);
    }("101010101010101010101010101010101010101010101010101"));
  </script>

  <script src="/assets/js/imagesloaded.js"></script>
  <script src="/assets/js/classie.js"></script>
  <script src="/assets/js/AnimOnScroll.js"></script>
  <script>
      new AnimOnScroll( document.getElementById( 'grid' ), {
          minDuration : 0.4,
          maxDuration : 0.7,
          viewportFactor : 0.2
      } );
  </script>

  </body>

</html>
